.tizers.landing-1 {
    display: block;
}

.tizers.landing-1 * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.tizers.landing-1 .tizers-wrapper {
    display: block;
    overflow: hidden;
    margin: -8px;
}

.tizers.landing-1 .tizers-tizer {
    display: block;
	position: relative;
    float: left;
    padding: 8px;
    width: 100%;
    height: 289px;
}
.tizers.landing-1 .tizers-tizer:after {
	content: '';
    display: block;
    position: absolute;
    width: 60px;
    height: 25px;
    background: url(images/trp_arrow.png) no-repeat;
    top: 60px;
    right: -30px;
}

.tizers.landing-1 .tizers-tizer.tizers-tizer-1 {
    width: 100%;
}.tizers.landing-1 .tizers-tizer.tizers-tizer-1:nth-child(1n):after {
	content: none;
}.tizers.landing-1 .tizers-tizer.tizers-tizer-2 {
    width: 50%;
}.tizers.landing-1 .tizers-tizer.tizers-tizer-2:nth-child(2n):after {
	content: none;
}.tizers.landing-1 .tizers-tizer.tizers-tizer-3 {
    width: 33.33333%;
}.tizers.landing-1 .tizers-tizer.tizers-tizer-3:nth-child(3n):after {
	content: none;
}.tizers.landing-1 .tizers-tizer.tizers-tizer-4 {
    width: 25%;
}.tizers.landing-1 .tizers-tizer.tizers-tizer-4:nth-child(4n):after {
	content: none;
}.tizers.landing-1 .tizers-tizer.tizers-tizer-5 {
    width: 20%;
}.tizers.landing-1 .tizers-tizer.tizers-tizer-5:nth-child(5n):after {
    content: none;
}
.tizers.landing-1 .tizers-tizer .tizers-tizer-image {
    display: block;
    position: relative;
    height: 130px;
}

.tizers.landing-1 .tizers-tizer .tizers-tizer-image .uni-image {
    width: 100%;
    height: 100%;
}

.tizers.landing-1 .tizers-tizer .tizers-tizer-information {
    display:  block;
    max-width: 180px;
    margin: 0 auto;
    text-align: center;
}

.tizers.landing-1 .tizers-tizer .tizers-tizer-information-caption {
    display:  block;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    max-height: 36px;
    overflow: hidden;
    color: #1a1a1a;
}

.tizers.landing-1 .tizers-tizer .tizers-tizer-information-text {
    display: block;
    font-size: 12px;
    line-height: 18px;
    height: 72px;
    overflow: hidden;
    color: #959595;
}

@media all and (min-width: 750px) and (max-width: 1000px)
{
    .adaptiv .tizers.landing-1 .tizers-tizer.tizers-tizer-5 {
        width: 25%;
    }
	.adaptiv .tizers.landing-1 .tizers-tizer.tizers-tizer-5:after {
        content: '';
    }
	.adaptiv .tizers.landing-1 .tizers-tizer.tizers-tizer-5:nth-child(4n):after {
		content: none;
	}
}

@media all and (min-width: 600px) and (max-width: 750px)
{
    .adaptiv .tizers.landing-1 .tizers-tizer.tizers-tizer-4 {
        width: 33.33333%;
    }.adaptiv .tizers.landing-1 .tizers-tizer.tizers-tizer-5 {
        width: 33.33333%;
    }
	.adaptiv .tizers.landing-1 .tizers-tizer.tizers-tizer-4:after,
	.adaptiv .tizers.landing-1 .tizers-tizer.tizers-tizer-5:after	{
        content: '';
    }
	.adaptiv .tizers.landing-1 .tizers-tizer.tizers-tizer-4:nth-child(3n):after,
	.adaptiv .tizers.landing-1 .tizers-tizer.tizers-tizer-5:nth-child(3n):after 	{
        content: none;
    }
      
}

@media all and (min-width: 450px) and (max-width: 600px)
{
    .adaptiv .tizers.landing-1 .tizers-tizer.tizers-tizer-3 {
        width: 50%;
    }.adaptiv .tizers.landing-1 .tizers-tizer.tizers-tizer-4 {
        width: 50%;
    }.adaptiv .tizers.landing-1 .tizers-tizer.tizers-tizer-5 {
        width: 50%;
    }
	.adaptiv .tizers.landing-1 .tizers-tizer.tizers-tizer-3:after,
	.adaptiv .tizers.landing-1 .tizers-tizer.tizers-tizer-4:after,
	.adaptiv .tizers.landing-1 .tizers-tizer.tizers-tizer-5:after {
        content: '';
    }
	.adaptiv .tizers.landing-1 .tizers-tizer.tizers-tizer-3:nth-child(2n):after,
	.adaptiv .tizers.landing-1 .tizers-tizer.tizers-tizer-4:nth-child(2n):after,
	.adaptiv .tizers.landing-1 .tizers-tizer.tizers-tizer-5:nth-child(2n):after {
        content: none;
    }
}

@media all and (max-width: 450px)
{
    .adaptiv .tizers.landing-1 .tizers-tizer.tizers-tizer-2 {
        width: 100%;
    }.adaptiv .tizers.landing-1 .tizers-tizer.tizers-tizer-3 {
        width: 100%;
    }.adaptiv .tizers.landing-1 .tizers-tizer.tizers-tizer-4 {
        width: 100%;
    }.adaptiv .tizers.landing-1 .tizers-tizer.tizers-tizer-5 {
        width: 100%;
    }
	.adaptiv .tizers.landing-1 .tizers-tizer.tizers-tizer-2:after,
	.adaptiv .tizers.landing-1 .tizers-tizer.tizers-tizer-3:after,
	.adaptiv .tizers.landing-1 .tizers-tizer.tizers-tizer-4:after,
	.adaptiv .tizers.landing-1 .tizers-tizer.tizers-tizer-5:after {
        content: none;
    }
}
.tizers.landing-1 .tizers-tizer:last-child:after {
	content: none !important;
}