.contact {}

.contact .section {
	overflow: hidden;
	display: block;
}

.contact .section.section-left {
	float: left;
	width: 400px;
}

.contact .section.section-right {
	display: block;
	margin-left: 450px;
}

.contact .section .field .title {
	color: #262626;
	font-size: 16px;
	font-weight: bold;
}

.contact .section .field .text {
	font-size: 14px;
}

.contact .section .description {
	float: right;
	max-width: 900px;
}

.contact .section .map {
	float: right;
	width: 100%;
}

.contact .section .bx-yandex-map,
.contact .section yamaps {
	width: 100% !important;
}

.contact .section .images {
	display: block;
	margin-top: 9px;
	margin-bottom: 9px;
}

.contact .section .images .image img {
	width: 100%;
	padding-top: 9px;
	padding-bottom: 9px;
}

@media all and (max-width: 850px) {
	.adaptiv .contact .section.section-left {
		width: auto;
		float: none;
	}
	
	.adaptiv .contact .section.section-right {
		margin-left: 0px;
		margin-top: 50px;
	}
}