/*jobs*/
.one_job .text_jobs{
	display:none;
}
.one_job .plash_jobs {	
	width:100%;	
	margin-bottom:3px;
	cursor:pointer;
	border-bottom:1px solid #e8e8e8;
	padding-bottom:18px;
	padding-top:18px;
}
.one_job .plash_jobs .name_job,.one_job .plash_jobs .salary {
	color:#323238;
	font-size:21px;
	margin:0;
	margin-right:13px;
}
.one_job .plash_jobs .salary {
	margin-right:0;
	display:block;
	background:#fed700;
	border-radius:3px;
	font-size:24px;
	color:#323238;
	font-weight:bold;	
	padding:0 10px;
}
.one_job .strelka_job {
	width: 0;
   height: 0;
	border-top: 5px solid transparent;
   border-left: 5px solid #000;
   border-bottom: 5px solid transparent;
	margin-top:10px;
}
.one_job .active {
	border-left: 5px solid transparent;
   border-right: 5px solid transparent;
   border-top: 5px solid #000;
	margin-top:15px;
	margin-left:-5px;
}
.one_job .text_job {
	display:none;
	margin:19px 16px 28px 21px;
	color:#4c4c4c;
	line-height:20px;
}
.send_resume {
	margin-top: 20px;
    padding: 11px 50px !important;
}
@media all and (max-width: 600px) {
    .adaptiv .one_job .plash_jobs .name_job {
		display: inline-block;
		width: 90%;
	}
	.adaptiv .one_job .strelka_job{
		display: inline-block;
		margin-top: 11px;
	}
	.adaptiv .one_job .plash_jobs .salary {
		float:left;
		margin-top: 10px;
	}
}