.bx-wrapper .bx-viewport {
	border: 0!important;
	margin: 0;
	left: 0!important;
	-moz-box-sizing: border-box; /* Для Firefox */  
	box-sizing: border-box; /* Ширина блока с полями */
	box-shadow:none!important;
}
.bx-wrapper {
	z-index:0;
}
.slider_item {
	position:relative;
    display: none;
}
.slider_item:first-child {
    display: block;
}
.bx_slider {
	margin:0;
	padding:0;
}
.bx-wrapper .bx-controls-direction a {
	width:40px!important;
	height:40px!important;
	z-index:99;
}
.bx-wrapper .bx-prev {
	background:url(images/sprite.png) no-repeat 0 0!important;
}
.bx-wrapper .bx-prev:hover {
	background:url(images/sprite.png) no-repeat 0 -40px!important;
}
.bx-wrapper .bx-next {
	background:url(images/sprite.png) no-repeat -40px 0!important;
}
.bx-wrapper .bx-next:hover {
	background:url(images/sprite.png) no-repeat -40px -40px!important;
}
.bx-wrapper .bx-pager {	
	font-size: 0!important;	
	padding-top: 0!important;
	bottom: 0;
	height: 30px;
	z-index:99;
}
.bx-wrapper .bx-pager.bx-default-pager a {
	width:14px!important;
	height:14px!important;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover {
	background:url(images/sprite.png) no-repeat -80px -20px!important;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
	background:url(images/sprite.png) no-repeat -80px -20px!important;
}
.sl_background {
	width:100%;
	background-position:center;
	margin:0 auto;
	height:400px;	
	background-size:cover;
	background-repeat:no-repeat;
}
.sl_image {
	
}
.sl_wrapper {
	max-width:1240px;
	margin:0 auto;
	height:100%;
}
.sl_wrapper table {
	width: 100%;
	height:100%;
}
.sl_text  {
	color: #fff;
}
.sl_header1 {
	font-size:50px;
	color:#fff;
	font-weight:700;
}
.sl_header2 {
	font-size:31px;
	color:#fff;
	font-weight:bold;
	text-transform:uppercase;
	padding-bottom:30px;
}
{
	font-size:12px;
	color:#fff;
}
.sl_header2.dark,
.sl_header1.dark,
.sl_text_block.dark,
.sl_text.dark  {
	color:#000;
}

.slider_item .sl_background .sl_wrapper .image {
    width: 600px;
}

@media all and (max-width: 900px) {
	.adaptiv .sl_header1 {
		font-size: 30px;
	}
	
	.adaptiv .sl_header2 {
		font-size: 18px;
	}
}

@media all and (max-width: 800px) {
    .adaptiv .slider_item .sl_background .sl_wrapper .image {
        display: none;
    }
}

@media all and (max-width: 600px) {
	.adaptiv .sl_header1 {
		font-size: 25px;
	}
	
	.adaptiv .sl_header2 {
		font-size: 16px;
	}
}

@media all and (max-width: 500px) {
	.adaptiv .sl_header1 {
		font-size: 20px;
	}
	
	.adaptiv .sl_header2 {
		font-size: 14px;
	}
}

@media (max-width:768px){
	.adaptiv .bx-wrapper .bx-pager {
		text-align: center!important;	
		right:auto!important;
	}
}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
	background:#3c4853!important;
}
.bx-wrapper .bx-pager.bx-default-pager a {
	background:#727d89;
}
.bx-wrapper td.full {
	width:100%;
	text-align:center;
	vertical-align:middle;
}
.bx-wrapper .full img {
	display:inline-block;
}