.tabs_block #tabs_block ul.nav {
	padding:0;
	margin:0;
	list-style:none;
	padding-bottom:25px;
}
.tabs_block #tabs_block ul.nav li {
	float:left;
	padding-right:18px;
}
.tabs_block #tabs_block ul.nav li.ui-tabs-active a {
	outline:none;
	text-decoration:underline;
	color:#2a2a2a;
}
.tabs_block #tabs_block ul.nav li a {
	text-decoration:none;
	font-size:16px;
	color:#a3a3a3;
	font-weight:500;
}

@media all and (max-width: 365px) {
    .adaptiv .tabs_block #tabs_block ul.nav {
        padding-bottom: 70px;
    }
}