.compare-small {
	position: relative;
	text-decoration:none;
	display:block;
	white-space: nowrap;
	font-size: 0px;
}
.compare-small.header,
.compare-small.fly {
	margin-left: 15px;
	margin-top: 0;
}

.compare-small .text-wrapper {
	display: inline-block;
	vertical-align: middle;
	color: #fff;
	text-decoration: none;
	width: 18px;
	height: 18px;
    font-size: 0px;
	border: 2px solid #fff;
    white-space: nowrap;
	text-align: center;
	border-radius: 12px;
	font-weight: 700;
	margin-right: 3px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.compare-small.header .text-wrapper,
.compare-small.fly .text-wrapper {
	position: absolute;
	display: block;
	top: -10px;
	left: -15px;
	margin-right: 0px;
}

.compare-small .text-wrapper .text {
    display: inline-block;
	vertical-align: middle;
    font-size: 11px;
    line-height: 11px;
	font-weight: 700;
}
.compare-small .icon {
	display: inline-block;
	vertical-align: middle;
	background-repeat:no-repeat;
    width: 20px;
    height: 20px;
	margin-top: 0;
	margin-bottom: 0px;
	background:url(images/compare.png) no-repeat;
	background-repeat:no-repeat;
	margin-left: 1px;
}