.specialist.landing-1 {
    display: block;
    padding: 20px 0 25px 0;
    overflow: hidden;
}

.specialist.landing-1 .specialist-information {
    display: inline-block;
    width: 512px;
    text-align: left;
    overflow: hidden;
}

.specialist.landing-1 .specialist-information .specialist-information-image {
    display: block;
    float: left;
    overflow: hidden;
}

.specialist.landing-1 .specialist-information .specialist-information-information {
    display: block;
    margin-left: 255px;
	padding: 50px 30px;
}

.specialist.landing-1 .specialist-information .specialist-information-information .specialist-information-information-name,
.specialist.landing-1 .specialist-information .specialist-information-information .specialist-information-information-post {
    display: block;
    font-size: 14px;
    font-weight: bold;
    line-height: 22px;
    max-height: 44px;
    color: #1a1a1a;
}
.specialist.landing-1 .specialist-information .specialist-information-information .specialist-information-information-post {
	font-weight: normal;
}
.specialist.landing-1 .specialist-information .specialist-information-information .specialist-information-information-delimiter {
    display: block;
    height: 1px;
    background: #dcdcdc;
    overflow: hidden;
	width: 70%;
}

.specialist.landing-1 .specialist-information .specialist-information-information .specialist-information-information-phone,
.specialist.landing-1 .specialist-information .specialist-information-information .specialist-information-information-skype {
    display: block;
    font-size: 14px;
    line-height: 22px;
    max-height: 44px;
    color: #25282c;
}

.specialist.landing-1 .specialist-question {
    display: inline-block;
    width: 300px;
    text-align: left;
    padding-left: 40px;
}

.specialist.landing-1 .specialist-question .specialist-question-caption {
    display: block;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    color: #1a1a1a;
}

.specialist.landing-1 .specialist-question .specialist-question-text {
    display: block;
    font-size: 12px;
    line-height: 16px;
    color: #878787;
}

.specialist.landing-1 .specialist-question .uni-button {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    padding: 14px 20px;
}

@media all and (max-width: 900px) {
    .adaptiv .specialist.landing-1 table,
    .adaptiv .specialist.landing-1 table tr,
    .adaptiv .specialist.landing-1 table tr td {
        display: block;
        text-align: left;
        width: auto !important;
    }
    
    .adaptiv .specialist.landing-1 .specialist-information {
        display: block;
        width: auto;
    }
    
    .adaptiv .specialist.landing-1 .specialist-question {
        width: auto;
        padding-left: 0px;
        padding-top: 40px;
    }
	.adaptiv .specialist.landing-1 .specialist-question .uni-button {
		display: block;
	}
}

@media all and (max-width: 550px) {
    .adaptiv .specialist.landing-1 .specialist-information .specialist-information-image {
        float: none;
    }
    
    .adaptiv .specialist.landing-1 .specialist-information .specialist-information-information {
        margin-top: 20px;
        margin-left: 0px;
    }
}