.sections-1 {
    display: block;
    overflow: hidden;
}

.sections-1 .sections-1-wrapper {
    display: block;
    margin: -8px;
}

.sections-1 .sections-1-section {
    display: block;
    padding: 8px;
}

.sections-1 .sections-1-section .sections-1-border {
    border: 1px solid transparent;
}
.sections-1 .sections-1-section .sections-1-border:hover {
    border-color: #ebebeb;
}

.sections-1 .sections-1-section .sections-1-border .sections-1-border-wrapper {
    margin: 20px;
    overflow: hidden;
}

.sections-1 .sections-1-section .sections-1-border .sections-1-image {
    display: block;
    position: relative;
    float: left;
    width: 100px;
    height: 100px;
    overflow: hidden;
    text-decoration: none;
}

.sections-1 .sections-1-section .sections-1-border .sections-1-information {
    display: block;
    margin-left: 120px;
}

.sections-1 .sections-1-section .sections-1-border .sections-1-information .sections-1-name {
    display: block;
    font-size: 18px;
    line-height: 18px;
    height: 18px;
    overflow: hidden;
    margin-bottom: 20px;
    text-decoration: none;
}

.sections-1 .sections-1-section .sections-1-border .sections-1-information .sections-1-description {
    display: block;
    font-size: 13px;
    line-height: 19px;
    color: #7a7f87;
    height: 57px;
    overflow: hidden;
}

@media all and (max-width: 950px) {
    .adaptiv .sections-1 .sections-1-section .sections-1-border .sections-1-image {
        width: 60px;
        height: 60px;
    }
    
    .adaptiv .sections-1 .sections-1-section .sections-1-border .sections-1-information {
        margin-left: 80px;
    }
}

@media all and (max-width: 800px) {    
    .adaptiv .sections-1 .sections-1-section .sections-1-border .sections-1-information {
        margin-left: 0px;
    }
}

@media all and (max-width: 600px) {
    .adaptiv .sections-1 .sections-1-section .sections-1-border .sections-1-image {
        display: block;
        width: 60px;
        height: 60px;
    }
    
    .adaptiv .sections-1 .sections-1-section .sections-1-border .sections-1-information {
        margin-left: 80px;
    }
}

@media all and (max-width: 550px) {
    .adaptiv .sections-1 .sections-1-section .sections-1-border .sections-1-information {
        margin-left: 0px;
    }
}

@media all and (max-width: 400px) {
    .adaptiv .sections-1 .sections-1-section .sections-1-border .sections-1-image {
        display: block;
        width: 80px;
        height: 80px;
    }
    
    .adaptiv .sections-1 .sections-1-section .sections-1-border .sections-1-information {
        margin-left: 100px;
    }
}