.i_menu {
	position: absolute;
	display: none;
	width: 100%;
	left: 0;
	background: #fff;
	padding: 0;
	border-top: 2px solid #936CDC;
	top: 50px;
	margin: 0;
	padding: 0;
	padding: 20px 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	box-shadow: none;
	list-style: none;
	border-top: 2px solid #1A58D7;
	border-bottom: 1px solid #f4f4f4;
	box-shadow: 0 4px 2px rgba(0,0,0,0.5);
}
.i_menu .show_all {
	text-align:left;
	font-size:12px;
	cursor:pointer;
	color:#444648!important;
}
.i_menu .show_all span {
	border-bottom:1px dotted #444648;
}
.i_menu li.root .submenu_1 a.hide {
	display:none;
}
.top_menu td.current .i_menu li.root a{
	box-shadow:none!important;
}
.i_menu li.root a:hover {
	text-decoration:underline;
}
.i_menu li.root>a:hover {
	color:#1a58d7;
	text-decoration:underline;
}
.i_menu li.root {
	padding: 0;
	margin: 0;
	line-height: 25px;
	list-style: none;
	display: inline-block;
	zoom: 1;
	vertical-align: top;
	width: 20%;
	margin-bottom: 20px;	
	min-height: 130px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding-left: 3%;
	padding-right: 3%;	
	background:none!important;
	position:relative;
}
.i_menu li.root:nth-child(5n){
	float:right;	
	border-right:0;
}
.i_menu li.root:nth-child(5n):after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.i_menu li.root a {
	text-align:left;
	display: block;
	color: #444648;
	font-weight: bold;
	font-size: 14px;
	text-decoration: none;
	text-shadow:none;
	background:none!important;
	border:0;
	line-height:25px;
	box-shadow:none;
}
.i_menu li.root .submenu_1 a {
	color: #444648;
	font-size: 12px;
	line-height: 12px;
	font-weight:normal;
	box-shadow:none;
	line-height: 21px;
}
.i_menu li.root .submenu_1 {
	margin:0;
	padding:0;
	list-style:none;
	//position:absolute;
	border:1px solid #fff;
	background:#fff;
}
.i_menu li.root .submenu_1.bordered {
	padding: 10px;
	margin:-10px;
	border-top:1px solid #ccc;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-right:1px solid #ccc;
	z-index:40;	
}
.i_menu li.root .submenu_1.bordered .show_all {
	display:none;
}
.i_menu li.root .submenu_1.bordered .hide{
	display:block;
}
.i_menu li.root .submenu_1 a:hover {
	color: #1a58d7;
}
