.news-horizontal-1 {
    display: block;
    overflow: hidden;
}

.news-horizontal-1 .news-horizontal-1-wrapper {
    display: block;
    //margin: -8px;
    overflow: hidden;
}

.news-horizontal-1 .news-horizontal-1-item {
    display: block;
    float: left;
    padding: 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.news-horizontal-1 .news-horizontal-1-item:hover {
   background: #ebebeb;
}

.news-horizontal-1 .news-horizontal-1-item .news-horizontal-1-item-wrapper {
    display:  block;
    overflow: hidden;
}

.news-horizontal-1 .news-horizontal-1-item .news-horizontal-1-image {
    display: block;
    float: left;
    width: 84px;
    height: 84px;
    text-decoration: none;
}

.news-horizontal-1 .news-horizontal-1-item .news-horizontal-1-information {
    display: block;
    //margin-left: 104px;
    margin-right: 60px;
}

.news-horizontal-1 .news-horizontal-1-item .news-horizontal-1-information .news-horizontal-1-name {
    display: block;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    line-height: 21px;
    height: 63px;
    overflow: hidden;
}

.news-horizontal-1 .news-horizontal-1-item .news-horizontal-1-information .news-horizontal-1-date {
    display: block;
    font-size: 11px;
    color: #949494;
    line-height: 11px;
    height: 11px;
    overflow: hidden;
    margin-top: 5px;
}

.news-horizontal-1 .news-horizontal-1-buttons {
    display: block;
    text-align: center;
    padding-top: 25px;
}

.news-horizontal-1 .news-horizontal-1-buttons .news-horizontal-1-button-all {
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    padding: 13px 21px;
}

@media all and (max-width: 1150px) {
    .news-horizontal-1 .news-horizontal-1-item .news-horizontal-1-information {
        margin-right: 0px;
    }
}
@media all and (max-width: 800px) {
    .news-horizontal-1 .news-horizontal-1-item .news-horizontal-1-image {
        width: 46px;
        height: 46px;
    }
}