.main_articles {
	padding-left:0;
	margin-top:33px;	
}
.news-date-time{
	font-size:11px;
	margin-bottom:8px;
}
.main_articles a.name_news {
	font-size:14px;
	display:block;
	height:36px;
	overflow:hidden;
	text-decoration:none;
	font-weight:bold;
}
.main_articles .preview {
	padding-top: 10px;
	margin-bottom: 5px;
	color: #888888;
	line-height: 17px;
	font-size:12px;	
}
.main_articles  a.header_grey{
	text-decoration: none;
	margin-bottom: 15px;
	display: block;
}
.main_articles .news-item {
	border-top:0;
	margin-bottom:20px;
	margin-left:9px;
}
.all_news {
	font-size: 12px;
	line-height: 31px;
	text-decoration:none;
}
.main_articles .picture {
	max-width:53px;
	max-height:53px;
	margin-right:8px;
	margin-bottom:8px;
	float:left;
	
}