.ocb-form {	
	width:240px;
	//height: 410px;
	padding:25px 30px 30px 28px;
	overflow:hidden;	
	position:relative;
}
.ocb-form .title {
	font-size:25px;
	color:#2e2e2e;
}
.ocb-form .comment {
	color:#7c7c7c;
	font-size:11px;
}
.ocb-form .ocb-form-wrap {
	overflow:hidden;
}

.ocb-form .ocb-form-wrap .ocb-params {
	width:100%;
}
.ocb-form .ocb-form-wrap .ocb-params input[type="text"], .ocb-form .ocb-form-wrap .ocb-params textarea {
	width:100%;
}
.ocb-form .ocb-form-wrap .ocb-params textarea {
    height: 112px;
    resize: none
}
.ocb-form .ocb-form-wrap .ocb-params .ocb-form-field label {
	font-size:14px;
	line-height: 25px
}
.ocb-form .ocb-form-wrap .ocb-params .ocb-form-field {
	margin-bottom:15px;
}
.ocb-form .ocb-form-wrap .ocb-params button.button {
	width: 100%;
	padding: 13px 55px;
}
.ocb-form .ocb-form-wrap .promt {	
	width:100%;
	font-size:11px;	
	color:#575757;
	text-align:left;		
	padding-top: 15px;
	top: 0;
}
.ocb-modules-button {
	position:relative;
	text-align: center;
}
.ocb-form .starrequired {
	color:#ff0000;
}
.ocb-form .ocb-form-wrap .ocb-params input[type="text"].nofill {
	border:1px solid #f10000;
}
.requared {
	display:none;
	font-size:11px;
	color:#f10000;
	position:absolute;
}
.ocb-form-result {
	float:right;
	width:50%;
	font-size:13px;
}
.ocb-result-icon-fail {
	color:red;
	position: absolute;
	top: 36px;
}
.ocb-result-text {
	margin-top: 18px;
}
.ocb-form .separator {
	position:absolute;
	width:16px;
	height:301px;
	left: 238px;
	top: 48px;
	background:url(images/pb_separator.png) right no-repeat;
}
.consent {
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 10px 20px;
}
.consent a{
	text-decoration: none;
}
.consent label {
	font-size: 11px;
	color: #585858;
	cursor: pointer;
}.consent label:hover {color: #8e8e8e;}
.consent label, .consent input {
	display: inline-block;
	vertical-align: middle;
}