.tizers-list {
	width:100%;
	padding-bottom:50px;
	padding-top:30px;
}
.tizers-list ul {
	list-style:none;
	margin:0;
	padding:0;
    overflow: hidden;
}
.tizers-list.big ul {
	height: 116px;
}
.tizers-list.big .img_banner {
	display: block;
    float: left;
    margin-top: 21px;
}
.tizers-list.big .r_col {
	display: block;
    margin-left: 82px;
}
.tizers-list li {
    margin-bottom: 25px;
    list-style:none;
    white-space: nowrap;
    overflow: hidden;
}
.tizers-list.big li {
	height: 116px;
}
.tizers-list .img_banner {
	width:64px;
	height:64px;
	background-repeat:no-repeat;
	background-position:center;
	margin:0 auto;
}
.tizers-list .name {
	text-transform:uppercase;
	font-size:13px;
    line-height: 19px;
	font-weight:bold;
	text-align:center;
	margin-top: 5px;
    height: 38px;
    overflow: hidden;
	white-space: normal;
	color: #2d2d2d;
}
.tizers-list .description {
	margin-top:0px;
	font-size:13px;
    text-align: justify;
    white-space: normal;
    height: 72px;
    overflow: hidden;
	color: #2d2d2d;
}