.sections-2 {
    display: block;
    overflow: hidden;
}

.sections-2 .sections-2-wrapper {
    display: block;
    margin: -8px;
}

.sections-2 .sections-2-section {
    display: block;
    padding: 8px;
}

.sections-2 .sections-2-section .sections-2-border .sections-2-border-wrapper {
    margin: 0px 20px;
    overflow: hidden;
}

.sections-2 .sections-2-section .sections-2-border .sections-2-image {
    display: block;
    position: relative;
    float: left;
    width: 90px;
    height: 90px;
    overflow: hidden;
    text-decoration: none;
}

.sections-2 .sections-2-section .sections-2-border .sections-2-information {
    display: block;
    margin-left: 100px;
}

.sections-2 .sections-2-section .sections-2-border .sections-2-information .sections-2-name {
    display: block;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    height: 18px;
    margin-bottom: 5px;
    overflow: hidden;
    text-decoration: none;
}

.sections-2 .sections-2-section .sections-2-border .sections-2-information .sections-2-description {
    display: block;
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
    height: 54px;
    color: #7a7f87;
    overflow: hidden;
}

@media all and (max-width: 750px) {
    .adaptiv .sections-2 .sections-2-section .sections-2-border .sections-2-image {
        width: 40px;
        height: 40px;
    }
    
    .adaptiv .sections-2 .sections-2-section .sections-2-border .sections-2-information {
        display: block;
        margin-left: 60px;
    }
}

@media all and (max-width: 400px) {
    .adaptiv .sections-2 .sections-2-section .sections-2-border .sections-2-image {
        width: 60px;
        height: 60px;
    }
    
    .adaptiv .sections-2 .sections-2-section .sections-2-border .sections-2-information {
        display: block;
        margin-left: 80px;
    }
}