.web_form_question .startshop-forms-result-new.default {
    display: block;
    margin: 0px;
    padding: 35px 30px;
	border: 1px solid #eaeaea;
	border-radius: 5px;
}

.web_form_question .startshop-forms-result-new.default .startshop-forms-result-new-wrapper {
    display: block;
	margin:0 auto;
    position: relative;
    width: 100%;
	font-size: 0;
}

.web_form_question .startshop-forms-result-new.default .startshop-forms-result-new-caption {
    display: block;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 30px;
	text-align: center;
}

.web_form_question .startshop-forms-result-new.default .startshop-forms-result-new-row {
    display: inline-block;
    width: 25%;
    box-sizing: border-box;
    padding: 0 10px;
    margin-top: 0;
    vertical-align: middle;
}

.web_form_question .startshop-forms-result-new.default .startshop-forms-result-new-row .startshop-forms-result-new-row-name {
    display: block;
    font-size: 12px;
    font-weight: 600;
    line-height: 21px;
}

.web_form_question .startshop-forms-result-new.default .startshop-forms-result-new-row .startshop-forms-result-new-row-control {

}

.web_form_question .startshop-forms-result-new.default .startshop-forms-result-new-row .startshop-forms-result-new-row-control .startshop-input-textarea,
.web_form_question .startshop-forms-result-new.default .startshop-forms-result-new-row .startshop-forms-result-new-row-control .startshop-input-select,
.web_form_question .startshop-forms-result-new.default .startshop-forms-result-new-row .startshop-forms-result-new-row-control .startshop-input-multiselect,
.web_form_question .startshop-forms-result-new.default .startshop-forms-result-new-row .startshop-forms-result-new-row-control .startshop-input-text,
.web_form_question .startshop-forms-result-new.default .startshop-forms-result-new-captcha .startshop-forms-result-new-captcha-code .startshop-input-text {
    width: 100%;
    outline: none !important;
	border-radius: 3px !important;
	font-size: 11px !important;
	padding: 12px 19px;
	border: 1px solid #e9e9e9;
	box-shadow: none !important;
}

.web_form_question .startshop-forms-result-new.default .startshop-forms-result-new-row .startshop-forms-result-new-row-control .startshop-input-textarea {
    resize: vertical;
}

.web_form_question .startshop-forms-result-new.default .startshop-forms-result-new-row .startshop-forms-result-new-row-control .startshop-forms-result-new-row-control-box {
    display: block;
    padding: 10px;
    border-radius: 5px;
}

.web_form_question .startshop-forms-result-new.default .startshop-forms-result-new-row .startshop-forms-result-new-row-control .startshop-forms-result-new-row-control-box .startshop-forms-result-new-row-control-box-wrapper {
    display: block;
    overflow: hidden;
}

.web_form_question .startshop-forms-result-new.default .startshop-forms-result-new-button {
    display: inline-block;
    font-size: 12px;
    padding: 15px 11px;
    width: 25%;
    vertical-align: middle;
    margin-top: 0;
}

.web_form_question .startshop-forms-result-new.default .startshop-forms-result-new-captcha {
    display: block;
    margin-top: 20px;
}

.web_form_question .startshop-forms-result-new.default .startshop-forms-result-new-captcha .startshop-forms-result-new-captcha-caption {
    display: block;
    font-size: 12px;
    font-weight: 600;
    line-height: 21px;
}

.web_form_question .startshop-forms-result-new.default .startshop-forms-result-new-captcha .startshop-forms-result-new-captcha-image {
    display: block;
    text-align: center;
    font-size: 0px;
}

.web_form_question .startshop-forms-result-new.default .startshop-forms-result-new-captcha .startshop-forms-result-new-captcha-image img {
    display: inline-block;
}

.web_form_question .startshop-forms-result-new.default .startshop-forms-result-new-message-error {
    display: block;
    background: #ff114a;
    color: #ffffff;
    font-size: 12px;
    padding: 5px 10px;
    text-align: center;
    margin: 5px 0px;
    border-radius: 5px;
    -webkit-box-shadow: inset 1px 1px 2px #cd0c3b;
    -moz-box-shadow: inset 1px 1px 2px #cd0c3b;
    box-shadow: inset 1px 1px 2px #cd0c3b;
}

.web_form_question .startshop-forms-result-new.default .startshop-forms-result-new-required {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    color: #ff0000;
}

.web_form_question .startshop-forms-result-new.default .startshop-forms-result-new-sent {
    display: block;
    text-align: center;
	font-size: 13px;
}
.web_form_question .startshop-input-text.startshop-input-text-standart {
	background: #ffffff !important;
}
@media all and (max-width: 700px) {
	.adaptiv .web_form_question .startshop-forms-result-new.default .startshop-forms-result-new-row {
		display: block;
		width: 100%;
		padding: 5px 0;
	}
	.adaptiv .web_form_question .startshop-forms-result-new.default .startshop-forms-result-new-button {
		display: block;
		width: 100%;
		margin-top: 10px;
	}
}