.auth-form-default {
    display: block;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    background: #e0e2e5;
    font-size: 0px;
    min-height: 40px;
    white-space: nowrap;
}
.auth-form-default .uni-aligner-vertical {
    min-height: 40px;
}

.auth-form-default .auth-form-default-icon {
    display: inline-block;
    vertical-align: middle;
    width: 14px;
    height: 14px;
    background: url('images/icon.png');
    margin-right: 20px;
}

.auth-form-default .auth-form-default-button {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    color: #78797b;
    font-size: 12px;
    border: none;
    background: none;
}
.auth-form-default .auth-form-default-button:hover {
    color: #505153;
}

.auth-form-default .auth-form-default-button.auth-form-default-profile {
    margin-right: 20px;
}

#popup-window-overlay-AuthorizePopup {
    position: absolute;
    top: 0px;
    left: 0px;
    background: #000;
    opacity: 0.3;
}

#AuthorizePopup,
#AuthorizePopup .popup-window,
#AuthorizePopup .popup-window .popup-window-content-row .popup-window-center-column {
    background: transparent;
    box-shadow: none;
    border-radius: 0px;
    border: none;
}

#AuthorizePopup .popup-window-close-icon {
    background-image: url('images/ajax.popup.close.png');
    width: 10px;
    height: 11px;
}

.startshop-ajax-authorize {
    display: block;
    background: #fff;
    border-radius: 5px;
    padding: 20px;
}